{% extended "layouts/master.html" %}
{% block title %}
Articles
{% endblock %}

{% block content %}
<h1>Articles</h1>
{%for article in articles%}
<main class="container mt-3 w-50">
    <div class="bg-body-tertiary p-5 rounded">
        <h4>{{article.title}}</h4>
        <div class="d-flex justify-content-between"><p class="lead"><span class="fw-medium">created:</span>
            {{article.created_at}}</p>
            <p class="lead"><span class="fw-medium">updated:</span> {{article.updated_at}}</p></div>
        <a class="btn btn-sm btn-primary" href="/articles/article/{{article.id}}" role="button">O'qish »</a>
    </div>
</main>

{% endfor %}
{% endblock
