{% extends 'layouts/master.html' %}
{% load static %}


{% block mainpage_categories_title %}
<div class="row mb-4">
    <div class="col-md-6">
        <h2 class="mb-4">Category: {{cat_name}}</h2>
    </div>
</div>
{% endblock %}
{% block content %}


<div class="col-md-12 col-lg-8 main-content">
    <div class="row mb-5 mt-5">
        <div class="col-md-12">
            {% for article in articles %}
            <div class="post-entry-horzontal">
                <a href="/category/{{article.id}}">
                    <div class="image element-animate" data-animate-effect="fadeIn"
                         style="background-image: url({{article.image.url}});"></div>
                    <span class="text">
                        <div class="post-meta">
                        <span class="category">{{article.category}}</span>
                        <span class="mr-2">{{article.created_at}} </span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                        </div>
                        <h2>{{article.title}}</h2>
                        </span>
                </a>
            </div>
            {% endfor %}


        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                    <li class="page-item  active"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}