{% extends 'layouts/master.html' %}
{% load static %}


{% for article in articles %}
{{article.title}}
{% endfor %}

{% block mainpage_categories_title %}
<div class="row mb-4">
    <div class="col-md-6">
        <h2 class="mb-4">Category: Food</h2>
    </div>
    {% endblock %}
    {% block content %}
    <div class="col-md-12 col-lg-8 main-content">
        <div class="row mb-5 mt-5">
            <div class="col-md-12">

                <div class="post-entry-horzontal">
                    <a href="#">
                        <div class="image element-animate" data-animate-effect="fadeIn"
                             style="background-image: url({% static 'images/img_10.jpg' %});"></div>
                        <span class="text">
<div class="post-meta">
<span class="category">Travel</span>
<span class="mr-2">March 15, 2018 </span> &bullet;
<span class="ml-2"><span class="fa fa-comments"></span> 3</span>
</div>
<h2>There’s a Cool New Way for Men to Wear Socks and Sandals</h2>
</span>
                    </a>
                </div>
                <div class="post-entry-horzontal">
                    <a href="#">
                        <div class="image element-animate" data-animate-effect="fadeIn"
                             style="background-image: url({% static 'images/img_10.jpg' %});"></div>
                        <span class="text">
<div class="post-meta">
<span class="category">Travel</span>
<span class="mr-2">March 15, 2018 </span> &bullet;
<span class="ml-2"><span class="fa fa-comments"></span> 3</span>
</div>
<h2>There’s a Cool New Way for Men to Wear Socks and Sandals</h2>
</span>
                    </a>
                </div>
                <div class="post-entry-horzontal">
                    <a href="#">
                        <div class="image element-animate" data-animate-effect="fadeIn"
                             style="background-image: url({% static 'images/img_10.jpg' %});"></div>
                        <span class="text">
<div class="post-meta">
<span class="category">Travel</span>
<span class="mr-2">March 15, 2018 </span> &bullet;
<span class="ml-2"><span class="fa fa-comments"></span> 3</span>
</div>
<h2>There’s a Cool New Way for Men to Wear Socks and Sandals</h2>
</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        <li class="page-item  active"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {% endblock %}